doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 RT Chat Password Reset
      p
        strong Password Reset:
        | There has been a request to reset your password.  Your temporary password is:
        br
        br
        span= OtherProperty
        br
      p Please log in and change your password.
      a(href='http://rtchat.info/') RTChat.info
